!.gitignore

Thumbs.db
**/Thumbs.db

/target/
**/target/

**/*.ipynb_checkpoints

*.pyc
__pycache__/
.pytest_cache/

# Distribution / Installation artifacts
/build/
/develop-eggs/
/dist/
/eggs/
/.eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg
wheels/
*.so
*.pyd
.env
Cargo.lock
scratch/

