name: Cargo Deny

on: [push, pull_request]

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        arguments: --all-features
        command: check
        command-arguments: "--config ./.cargo/deny.toml"

